{% extends "base.html" %}
{% load static %}
{% block title %}Data A page{% endblock %}

{% block content %}
<div class="container-fluid">
    <br>
        <h4>Réponses référentiel enregistrées</h4>
        <br>

<div class="row">
      <div class="col">
        <h6>Résultats pôle A</h6>

       <div class="row">
      <div class="col">
        <h6>Résultats A1 : </h6><p>Veille socio-économique, réglementaire, concurrentielle et commerciale</p>
        <div class="overflow-scroll" style="height:200px">
               <table  class="table table-fixed">
        <thead class="table-primary">
            <tr>
                <th scope="col">A1_C1</th>
                <th scope="col">A1_C2</th>
                <th scope="col">A1_C3</th>
            </tr>
        </thead>
        <tbody style="height:100px;overflow-y:auto;width: 100%;">
            {% for row in resultsallA1 %}
            <tr>

                    <td>{{ row.A1_C1 }}</td>
                    <td>{{ row.A1_C2 }}</td>
                    <td>{{ row.A1_C3 }}</td>
            </tr>
              {% endfor %}
            </tbody>
            </table>

        </div>

            </div>
            <br>

             <div class="row">
      <div class="col">
          <br>
        <h6>Résultats A2 : </h6><p></p>
        <div class="overflow-scroll" style="height:200px">
               <table  class="table table-fixed">
        <thead class="table-primary">
            <tr>
                <th scope="col">A2_C1</th>
                <th scope="col">A2_C2</th>
                <th scope="col">A2_C3</th>
            </tr>
        </thead>
        <tbody style="height:100px;overflow-y:auto;width: 100%;">
            {% for row in resultsallA2 %}
            <tr>

                    <td>{{ row.A2_C1 }}</td>
                    <td>{{ row.A2_C2 }}</td>
                    <td>{{ row.A2_C3 }}</td>
            </tr>
              {% endfor %}
            </tbody>
            </table>

        </div>

            </div>
            </div>


{% endblock %}