{% extends "base.html" %}
{% block title %}Page Utilisateur infos{% endblock %}
{% block content %}
<div class="container-fluid">
    <br />
       <div style="margin-left:7%">
        <div class="row">
            <div class="col-md-auto">
                <br /><br />
            <h1 class=fr-h1 >Profil utilisateur</h1>
            </div>
            </div>
            <br>
            <table>
                <thead class="table-primary">
                    <tr>
                        <th>id</th>
                        <th>Id_createur</th>
                  <th>Prénom</th>
                  <th>Nom</th>
                  <th>Fonction</th>
                  <th>Ancienneté</th>
              </tr>

                </thead>

              {% for x in Utilisateur_liste %}
             <tr>
               <td>{{x.id}}</td>
              <td>{{x.created_by_id}}</td>
              <td>{{x.nom }}</td>
              <td>{{x.prenom }}</td>
              <td>{{ x.fonction}}</td>
              <td>{{x.anciennete}}</td>
             </tr>
              {% endfor %}
            </table>

        </div>
    </div>

    </div>
<br /><br />

  {% endblock %}

