{% extends "base.html" %}
{% block title %}Utilisateur{% endblock %}
{% block content %}

<div class="container-fluid">
  <div style=" margin-left:40px">
    <br><br><br>
    <h1>Utilisateur information</h1>
    <h4>renseignez vos données</h4>
  <form method="post" class="form"  style="margin: 40px">
  {% csrf_token %}
  Edité par: {{ form_user.created_by}}<br>
  Nom: {{ form_user.nom}}<br>
  Prénom: {{ form_user.prenom}}<br>
  Fonction : {{form_user.fonction}}<br>
  Ancienneté: {{form_user.anciennete}}<br>
  <button class="fr-btn" type="submit">Enregistrer</button>
  </form>
</form>
</div>


</div>



{% endblock %}


