{% extends "base.html" %}
{% block title %}Question A4 C2{% endblock %}

{% block content %}
<div class="container-fluid" style="margin-left:17px">
    <div class="row justify-content-md-center">
    <div class="col-md-8 col-md-offset-8">
        <br>
 <p><strong>A4-C2 : </strong>Analyser la situation ou la demande identifiée afin d’envisager les réponses, scénarios, orientations ou solutions possibles en veillant à l’objectivité du raisonnement</p>
             </div>
             <div class="row justify-content-md-center">
                 <div class="col-md-8 col-md-offset-8">
                 <form action="{% url 'step2_A4' %}" method="post" class="form-group">
              {%csrf_token %}
              <div style="display: none;">{{ form.created_by }}</div>
              <p style="border: 2px solid blueviolet; width : 730px;">{{ form.A4_C2 }}</p></div><br>
            <div class="d-flex justify-content-center"><button type="submit" class="fr-btn">Suivant</button></div><br>
              </form>
        </div>
      </div>
  </div>
  <br>
    <div class="row justify-content-md-center">
        <div class="col-md-8 col-md-offset-8">
             <ul class="list-group">
                <li class="list-group-item list-group-item-info"><p><strong>Degré 1 : </strong>Je connais des outils de diagnostic en particulier ceux du système qualité de ma structure, du réseau.
                  </p></li>
                  <li class="list-group-item list-group-item-info"><p><strong>Degré 2 : </strong>J’utilise la méthode de résolution de problème et les outils d’analyse de l’environnement (grille MOFF, diagramme causes effets, benchmarking, etc.) pour identifier la problématique à résoudre.
                    Je consulte l’ensemble des parties prenantes. Dans un collectif de travail et à partir de mon diagnostic, j’envisage les pistes de réponses.
                    </p></li>
                  <li class="list-group-item list-group-item-info"><p><strong>Degré 3 : </strong>
                    Parmi les hypothèses, je hiérarchise les solutions en mesurant les effets (risques et bénéfices). J’élabore des préconisations réalisables pour la structure, le réseau en accord avec sa stratégie.
                    Je précise l’origine de mes données et de mes sources d’informations sans en détailler les méthodes.
                  </p></li>
                  <li class="list-group-item list-group-item-info"><p><strong>Degré 4 : </strong>
                    Je contribue aux travaux sur les orientations académiques du réseau.</p></li>
              </ul>
          </div>


            </div>
        </div>
          

{% endblock %}
